@define-color black #282828;
@define-color white #a89984;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color brown #3c3836;

* {
    border: none;
    border-radius: 0;
    padding: 0;
    font-family: "monaspace neon";
    font-weight: 500;
    font-size: 13px;
    color: @white;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background-color: @brown;
    border: 1px solid @yellow;
}

.module {
    background-color: @black;
    padding: 4px 6px;
}

/* cant use ".modules-left *" since styling workspace buttons is weird*/
#custom-launcher,
#custom-keyboard,
#custom-power,
#custom-scratchpad,
#custom-screenshot,
#mode {
    margin-right: 4px;
}

.modules-right * {
    margin-left: 4px;
}

#custom-timew-tag {
    font-weight: 800;
}

#mode {
    background-color: transparent;
    font-weight: 800;
}

#workspaces {
    background-color: transparent;
    padding: 0;
}
#workspaces button {
    all: initial;
    min-width: 0;
    padding: 4px 6px;
    margin-right: 4px;
    background-color: @black;
    color: @white;
}
#workspaces button.focused {
    border: 1px solid @yellow;
    color: @yellow;
}
#workspaces button.urgent {
    background-color: @red;
}

#cpu.warning,
#memory.warning {
    border: 1px solid @yellow;
    color: @yellow;
}

#cpu.critical,
#memory.critical {
    border: 1px solid @red;
    color: @red;
}

#battery {
    background-color: @green;
    color: #000;
}
#battery.warning {
    background-color: @yellow;
}
#battery.critical,
#battery.urgent {
    background-color: @red;
}

#pulseaudio.muted {
    border: 1px solid @red;
    color: @red;
}
